#sloganSentence1 {
  text-align: center;
  margin-top: 0px;
  font-size: 45px;
}

#sloganSentence2 {
  text-align: center;
  font-size: 45px;
}

#sloganSentence3 {
  text-align: center;
  font-size: 30px;
}

#contactForm {
  display: flex;
  justify-content: center;
}

.contactBox {
  border: 1px solid black;
  width: 700px;
  margin-top: 35px;
  left: 900px;
  padding: 25px;
  text-align: center;
}

#contactSub {
  font-weight: bold;
  margin-bottom: 25px;
}

#name,
#email,
#subject {
  position: relative;
  left: 50px;
  height: 25px;
  width: 300px;
}

#question {
  position: relative;
  left: 41px;
}

#nameTitle {
  position: relative;
  right: 75px;
}

#emailTitle {
  position: relative;
  right: 72px;
}

#subjectTitle {
  position: relative;
  right: 79px;
}

#qTitle {
  position: relative;
  right: 75px;
}
