main {
  margin: 10px;
  z-index: 2;
  width: 100%;
}

#cards-container {
  width: 100%;
}
.card-image {
  border-bottom: 5px solid black;
  background-image: url(./img/istockphoto-1051268740-612x612.jpg);
  background-size: cover;
  background-position: center;
}

.card:hover,
.shopping-cart:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: black;
}
