html {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  transition: transform 0.5s ease;
}
.logo:hover {
  transform: rotate(360deg);
}
.search-form {
  width: 50%;
}
.shopping-cart,
.card {
  transition: transform 0.2s ease;
}
.first-nav {
  padding-bottom: 10px;
  width: 100%;
}
.second-nav {
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-bottom: 5px;
}
.banner {
  margin: -10px -10px -10px -10px;
}
.banner-img {
  width: 100%;
}
