.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .image-container {
    width: 50%;
    background-image: url(./img/card-background-2.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .text-container {
    width: 50%;
    padding: 10px;
  }

  .footContainer
  {
    margin-top:20px;
    background-image: url(./img/pokeballfooter.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height:170px;
    padding-top:20px;
  }

  #footheader
{
    color:ORANGE;
}

#footParagraph
{
  position:relative;
  top:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkcyan;
  font-size:17px;
}
